@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Roboto', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

/* Navbar */
.navbar {
    position: relative;
    background-color: #8795a1;
    color: #fff;
    width: 100%;
    height: 60px;
}

.navbar .nav-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    padding: 15px 30px;
    flex-wrap: wrap;
}

.navbar .search {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar .logo {
    font-size: 1.6rem;
    line-height: 1.2;
    color: #fff;
}

.navbar ul {
    display: flex;
}

.navbar .current {
    color: #fff !important;
    border-bottom: #fff 2px solid ;
}

.navbar ul a {
    color: #eee;
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 1.12rem;
}

.navbar li a:hover {
    color: #fff;
    border-bottom: #fff 2px solid ;
}

.nav-container .list-sources{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    background-color: #8795a1;
    padding-top: 10px;
    max-width: 100px;
    border-radius: 6px;
    border: none;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.nav-container .list-sources .source-name{
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
}

.nav-container .list-sources .source-name:last-child{
    border: none;
}

.nav-container .list-sources .source-name a{
    font-size: 1.1rem;
    border: none;
    padding: 0;
    margin: 0;
}

/* Search Bar */
.search-field {
    justify-content: flex-end;
    align-items: flex-end;
    margin: auto;
    padding: 10px 35px;
}

.search-field input{
    width: 100%;
}

.news-feed {
    padding: 0 20px;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 1.5rem;
    justify-content: center;
}

.grid-items .news-items,
.grid-items .news-items img{
    max-width: 300px;
}

.grid-items .news-items p:nth-child(2){
    font-size: 1.15rem;
}

/* Result Page */
.result-header{
    margin: auto;
    padding: 0 50px;
}

.result-header p{
    font-size: 1.5rem;
}

/* News Detail Page */
.news-detail-header {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    margin: 50px 50px 20px;
}

.news-detail-header h2{
    font-size: 1.85rem;
    font-weight: 500;
    padding-bottom: 10px;
}

.news-detail-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 700px;
}
.news-detail-header p{
    font-size: 1.1rem;
}

/* News Detail Page - Main content */
.news-detail-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 2rem;   
    margin-right: 10px;
}

.news-detail-content .column-1 {
    padding-left: 50px;
    font-size: 1.2rem;
}

.news-detail-content .column-1 a{
    color:  #ff0080;
}

.news-detail-content .column-1 img{
    width: 100%;
}
.news-detail-content .column-1 figcaption{
    color: #5d5b5b;
    font-size: 1.1rem;
    padding-top: 0;
    padding-bottom: 10px;
}
.news-detail-content .column-1 h1,
.news-detail-content .column-1 h2,
.news-detail-content .column-1 h3,
.news-detail-content .column-1 h4,
.news-detail-content .column-1 h5 {
    padding: 5px 0 10px;
}

.news-detail-content .column-1 blockquote {
    border-left: 2px solid #5b4636;
    margin: 10px;    
    padding-left: 20px;
}

.news-detail-content .column-2 {
    max-width: 300px;
}

.news-detail-content .column-2 .item {
    padding-bottom: 20px;
}

.news-detail-content .column-2 .item p {
    margin: 0;
}

.news-detail-content .column-2 img {
    width: 100%;
}

.news-detail-content .column-2 .item:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/* Settings page */
.setting{
    padding-left: 50px;    
}

.setting-name h2 {
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 2px solid #7d90a0;
    margin-bottom: 20px;
}

.setting-name .submit-field .label-input-text {
    padding-right: 10px;
    font-size: 1.2rem;
}

.setting-properties {
    margin-top: 10px;
}

.setting-properties .setting-page-items {
    display: grid;

}

.setting-properties .setting-page-items .setting-page-item {
    padding-left: 50px;
}

.setting-properties .setting-page-items .setting-page-item label {
    font-size: 1.1rem;
    padding-left: 10px;
}

.setting-properties .setting-page-items .btn-remove {
    padding-top: 10px;
}


.grid-items .see-more-nav {
    color: bisque;
    grid-column: auto / -1 ;
    padding-left: 20%;
}

.grid-items .see-more-nav a{
    color: #2060af;
}

.grid-items .see-more-nav a:last-child {
    padding-left: 10px;
}

.view-more form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.view-more form input{
    width: 70%;
    font-size: 1.3rem;
    padding: 10px 0;
    margin: 5px 0 20px;
}

@media(max-width: 550px) {
    /* Navbar */
    .navbar {
        height: 80px;
        top: 0px;
    }

    .navbar .nav-container {
        padding: 5px 10px;
    }
    .navbar .logo {
        font-size: 1.5rem;
        padding-left: 5px ;
    }

    .navbar ul {
        margin: auto;
    }
    .navbar ul a {
        font-size: 1.12rem;
        padding: 5px 15px;
    }
    /* Search Bar */
    .search-field {
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 10px 35px;
    }

    /* Result Page */
    .result-header{
        padding: 0 40px;
    }

    /* News Detail Page */
    .news-detail-header {
        margin: 50px 20px 10px;
    }

    .news-detail-header h2{
        font-size: 1.6rem;
    }

    .news-detail-header p{
        font-size: 1.1rem;
    }

    /* News Detail Page - Main content */
    .news-detail-content {
        display: block;
        margin: 0 20px;
    }

    .news-detail-content .column-1 {
        font-size: 1.12rem;
        padding: 0;
    }

    .news-detail-content .column-2 {
        max-width: 400px;
        padding: 20px 0;
        margin: auto;
        font-size: 1.1rem;
    }
    .news-detail-content .column-2 .item:first-child {
        display: block;
    }
    
}