{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'show_news/style.css' %}">
</head>
<body>
    <header> 
        <div class="header-top">
            <nav class="header-content">
                <a href="{% url 'show_news:show_news' %}">Today's news</a>
                <a style="margin-left: 35px" href="{% url 'show_news:get_content' %}">Get Content</a>
            </nav>
        </div>
    </header>
    
    <form style="padding-top: 60px; margin-left: 25px" action="{% url 'show_news:search_news' %}">
        <input  class="input-box" type="text"  name = 'search_box' placeholder="Search..." >
        <button class="button-submit" type="submit" >Search</button>
    </form>

    <h3 style="margin-left: 15px">Recent News from <a style="font-style: italic; text-decoration: underline;" href="{% url 'show_news:source_of_news' %}"> these pages </a></h3>

    {% if mode == 'show_news' %}
        {% if displayed_news %}
        <div style="margin: auto; width: 98%">
        {% for key, item in displayed_news.items %}
            {% for article in item %}
                <div class="news-list">
                    {% if article.image_content_url %}
                        <div>
                            <a href="{% url 'show_news:news_details' article.pk %}">
                                <img src="{{article.image_content_url}}" class="news-list-image-content-top">
                            </a>
                        </div>
                    {% endif %}

                    <div >
                        <span> <a href="{% url 'show_news:news_details' article.pk %}"> {{ article.title }} </a></span>
                        <br>
                        <span class="news-detail-note"> by {{key}}</span>
                    </div>
                </div>

            {% endfor %}              
        {% endfor %}
        </div>
        {% endif %}
    {% endif %}

    {% if mode == 'show_search_result' %}
    <div>
        <div style="display: inline-block; vertical-align: middle">
            <p>Keyword: <b><i>"{{ keyword }}" </i></b> </p>
        </div>
        <div style="display: inline-block; vertical-align: middle">
            <form style="margin-left: 30px; display: inline-block; vertical-align: middle" action=" {% url 'show_news:show_news' %}">
                <input type="submit" value="Clear all">
            </form>
        </div>
    </div> 
        {% if result %}
        <div>
            {% for article in result %}
               <div class="news-list">
                    {% if article.image_content_url %}
                    <div>
                        <a href="{% url 'show_news:news_details' article.pk %}">
                            <img src="{{article.image_content_url}}" class="news-list-image-content-top">
                        </a>
                    </div>
                    {% endif %}

                    <div >
                        <span> <a href="{% url 'show_news:news_details' article.pk %}"> {{ article.title }} </a></span>
                        <br>
                        <span class="news-detail-note"> by {{article.page_name}}</span>
                    </div>
                </div>
            {% endfor %}              
        </div>
        {% endif %}    
    {% endif %}

    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% else %}
        <div>
            <form action=" {% url 'show_news:show_news' %}">
                <input type="hidden" name="current_value" value="{{ current_number_news }}">
                <input class="button-submit" style="width: 200px; left: 40%; position: relative; margin-bottom: 20px;" type="submit" value="View older news" name="view_older_news">
            </form>
        </div>
    {% endif %}
    
</body>
</html>
