{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'show_news/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'show_news/utilities.css' %}">
    <script src="https://kit.fontawesome.com/da72a545a2.js" crossorigin="anonymous"></script>

    <title>Daily News</title>
</head>

<body>
    <header id="header">
        <nav id="navbar" class="navbar">
            <div class="nav-container">
                <h1>
                    <a class="logo" href="{% url 'show_news:show_news' %}">
                        <i class="far fa-newspaper"></i> Daily News</a>
                </h1>
                <ul>
                    <li><a class="current" href="{% url 'show_news:show_news' %}">Home</a></li>
                    <li class="btn-source">
                        <a href="#">Sources</a>
                        <ul class="list-sources ">
                            {% for page_name, _ in displayed_news.items %}
                            <div class="source-name">
                                <li><a href="{% url 'show_news:view_source' page_name %}">{{page_name}}</a></li>
                            </div>
                            {% endfor %}
                            <div class="source-name">
                                <li><a href="{% url 'show_news:settings' %}">Setting</a></li>

                            </div>
                        </ul>
                    </li>
                    <li><a href="#about"> About</a></li>
                    <li><a class="btn-search" href="#"><i class="fas fa-search"></i></a></li>
                </ul>
            </div>
            <div id="search" class="hidden">
                <form class="submit-field search-field" action="{% url 'show_news:search' %}">
                    <input type="text" name='search_box' placeholder="Search for...">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <main class="content wide-view">
        <section id="news-feed" class="news-feed">
            <div class="grid-items">
                {% for page_name, articles  in displayed_news.items %}
                {% for article in articles %}
                <div class="news-items">
                    {% if not article.image_content_url %}
                    <a href="{% url 'show_news:news_details' article.pk %}">
                        <img src="{% static 'show_news/img/default-img.jpg' %}">
                    </a>
                    {% else %}
                    <a href="{% url 'show_news:news_details' article.pk %}">
                        <img src="{{article.image_content_url}}">
                    </a>

                    {% endif %}

                    <p><a href="{% url 'show_news:news_details' article.pk %}"> {{ article.title }} </a></p>
                    <p> by <span class="text-primary">{{page_name}}</span></p>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="view-more">
                <form action=" {% url 'show_news:show_news' %}">
                    <input type="hidden" name="page" value="{{ page }}">
                    <input class="btn btn-light" type="submit" value="Show More News" name="view-more">
                </form>
            </div>
        </section>


    </main>
    <script>
        const search = document.querySelector('#header #search')
        btn_search = document.querySelector('.btn-search')
        btn_search.addEventListener('click', () => {
            search.classList.remove('hidden');
        })

        view_source = document.querySelector('.nav-container .list-sources');
        btn_source = document.querySelector('.navbar .btn-source')
        let btn_source_state = false;

        var view_news_from_source = function (event) {
            if (!btn_source_state) {
                view_source.style.display = 'flex';
                btn_source_state = true;
            }
            else {
                view_source.style.display = 'none';

                btn_source_state = false;
            }
        }
        btn_source.addEventListener('click', view_news_from_source, false)

    </script>
</body>

</html>