{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'show_news/style.css' %}">
</head>
<body>   
    <div style="display: block">
        <header class="header-top"> 
                <nav class="header-content">
                    <a href="{% url 'show_news:show_news' %}">Today's news</a>
                    <a style="margin-left: 35px" href="{% url 'show_news:get_content' %}">Get Content</a>
                </nav>
        </header>
    </div>
    <div class="news-detail-header">
        <div class="news-detail-title">
            <a href="{{object.url}}">{{object.title}}</a>            
        </div>

        {% if object.image_content_url %}
        <div class="image-content-top">
            <a href="{{object.url}}">
                <img src="{{object.image_content_url}}" >
            </a>
        </div>
        {% endif %}

        <div class="news-detail-note">
            <span> From <b><i>{{object.page_name}}</i></b> by <b><i> {{object.author}}  </i></b></span>
            <span> | {{object.published_time}}</span>
        </div>
    </div>  

    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    
    <div style="content:""; display: table; clear: both;">
        <div class="news-detail-content">
            {% if object.content %}
               <p>{{object.content}}</p>
            {% else %}
                <p> Cannot get content from that page</p>
            {% endif %}
        </div>

     
       <div class="side_suggest_news">
            {% for article in related_news %}
               <div class="news-list">
                    {% if article.image_content_url %}
                    <div >
                        <a href="{% url 'show_news:news_details' article.pk %}">
                            <img src="{{article.image_content_url}}" class="news-list-image-content-top">
                        </a>
                    </div>
                    {% endif %}

                    <div >
                        <span> <a href="{% url 'show_news:news_details' article.pk %}"> {{ article.title }} </a></span>
                        <br>
                        <span class="news-detail-note"> by {{article.page_name}}</span>
                    </div>
                </div>
            {% endfor %}  
        </div>
    </div>

    <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Tonight, ABC will celebrate the legacy of Chadwick Boseman with a special presentation of Marvel Studios’ Black Panther followed by the ABC News Special: Chadwick Boseman - A Tribute for a King. It all starts tonight at 8/7c on ABC. <a href="https://t.co/LjtN9bTwzx">pic.twitter.com/LjtN9bTwzx</a></p>&mdash; Disney (@Disney) <a href="https://twitter.com/Disney/status/1300045017482817536?ref_src=twsrc%5Etfw">August 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

</body>
</html>
